# Default ignored files
.idea/

yolov3.weights
yolov3.cfg
yolov4.weights
yolov4.cfg
*.jpg
*.png
*.avi
*.mp4
*.bmp
coco.names
goturn.caffemodel
goturn.prototxt
__pycache__
*.log
scatter.py
teamClassify.py
detect.py
field.py
shape.py
